{% extends "base.html.twig" %}

{% block title %}Article {{ article.title }}{% endblock %}

{% block javascripts %}
    parent()
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create( document.querySelector( '.editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-10 mx-auto my-3">

            {% include "include/_flashes.html.twig" %}

        </div>
    </div>

    <div class="row">
        <div class="col-10 mx-auto my-4">

            <div class="card bg-secondary opacity-50">
                <div class="card-header opacity-50">
                    <h1 class="text-center text-dark card-title mb-5">{{ article.title | capitalize }}</h1>
                    <h4 class="text-center text-light text-secondary mb-3">{{ article.subtitle | capitalize }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center text-muted bg-dark">Créé le {{ article.createdAt | ago(locale='fr') }} | Auteur : <u class="text-underline">{{ article.author.fullname }}</u></li>
                </ul>

                <img height="450" width="850" src="{{ asset('uploads/') ~ article.photo }}" alt="{{ article.title }}" class="img-custom mx-auto my-4">

                <div class="card-body">
                    <p class="card-text col-8 mx-auto text-center my-2">{{ article.content | raw }}</p>
                </div>

            </div>

        </div>
    </div>

    {{ render(url('add_commentary', {'id': article.id})) }}

    <div class="row">
        <div class="col-6 mx-auto">
        
            <h3 class="mb-4">Espace Commentaires</h3>

            {% for commentary in commentaries | reverse %}

                <div class="alert alert-dark mb-3" role="alert">
                
                    <h4 class="alert-heading">{{ commentary.author.fullname }} <span class="h6">posté {{ commentary.createdAt | ago(locale='fr') }}</span></h4>
                    <p>{{ commentary.comment | raw }}</p>
                    <hr>

                    <p class="mb-0">Partager :

                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-whatsapp"></i></a>

                        {% if app.user is same as commentary.author %}
                        <a href="{{path('soft_delete_commentary', {'id': commentary.id}) }}?article_id={{ article.id }}" class="text-end btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></a>
                        {% endif %}
                    </p>
                    
                    
                    
                
                </div>

            {% else %}

                <div class="alert alert-dark mb-3" role="alert">
                    <p class="text-center fw-bolder">Aucun commentaire pour cet article</p>
                </div>

            {% endfor %}
        
        </div>
    </div>


{% endblock %}