{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <h1 class="text-center my-3">Tableau de bord</h1>

    {# ################# FLASHES ################# #}
    <div class="row">
        <div class="col-6 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>
    {# ################# FLASHES ################# #}

    {# -------------------------------------------------------------------------------------------------- #}

    {# ################# BUTTONS ################# #}
    <div class="row my-5 mx-auto">
        <div class="col-4">
            <a class=" btn btn-sm btn-outline-dark" href="{{ path('create_article') }}">Ajouter un article</a>
        </div>
        <div class="col-4">
            <a class=" btn btn-sm btn-outline-dark" href="{{ path('add_category') }}">Ajouter une catégorie</a>
        </div>
        <div class="col-4">
            <a class=" btn btn-sm btn-outline-dark" href="{{ path('show_archieve') }}">Voir les archives</a>
        </div>
    </div>
    {# ################# BUTTONS ################# #}

    {# -------------------------------------------------------------------------------------------------- #}

    {# ################# TABLE 1 ################# #}
    <div class="row">
        <div class="col-10 mx-auto my-4">

            <h2 class="text-center">Tous les articles</h2>

            <table class="table">
              
              <thead>
                  <tr class="text-center">
                      <th>#</th>
                      <th>Titre</th>
                      <th>Categorie</th>
                      <th>Photo</th>
                      <th>Auteur</th>
                      <th>Commenté</th>
                      <th>Créé le</th>
                      <th>Modifié le</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>

                 {% for article in articles %}

                   <tr class="text-center align-middel">
                      
                       <td>{{ article.id }}</td>
                       <td>{{ article.title | length > 20 ? article.title | slice(0,20) ~ '...' : article.title }}</td>
                       <td>{{ article.category.name }}</td>
                       <td><img width="150" length="150" class="img-fluid" src="{{ asset('uploads/' ~ article.photo)}}" alt="{{ article.title}}"></td>
                       <td>{{ article.author.fullname }}</td>
                       <td>{{ article.commentaries is empty ? 'Non' : 'Oui' }}</td>
                       <td>{{ article.createdAt | date('d/m/Y') }}</td>
                       <td>{{ article.updatedAt | date('d/m/Y') }}</td>
                       <td>
                         <a href="{{ path('update_article',{'id': article.id}) }}" class="btn btn-sm btn-info" title="Modifier"><i class="bi bi-pencil-square"></i></a>
                         <a href="{{ path('soft_delete_article',{'id': article.id}) }}" class="btn btn-sm btn-danger" title="Archiver"><i class="bi bi-trash3"></i></a>
                       </td>
                   </tr>

                 {% endfor %}
              </tbody>
            </table>


        </div>
    </div>
    {# ################# TABLE 1 ################# #}

    {# -------------------------------------------------------------------------------------------------- #}

    <div class="row">
        {# ################# TABLE 2 ################# #}
        <div class="col-6">

            <h2 class="text-center">Toutes les catégories</h2>

        {# EXERCICE : Faire une table HTML qui affichera toutes les catégories de la BDD #}

            <table class="table">
               <thead>
                  <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Alias</th>
                    <th>Crée le</th>
                    <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  {% for category in categories %}

                  <tr class="text-center">
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.alias }}</td>
                    <td>{{ category.createdAt | date('d/m/Y') }}</td>
                    <td> 
                      <a href="{{ path('update_category', {'id': category.id}) }}" class="text-info" title="Modifier la catégorie"><i class="bi bi-pencil-square"></i></a>
                      <a href="{{ path('soft_delete_category', {'id': category.id}) }}"  onclick="return confirm('Voulez-vous vraiment supprimer définitivement cette catégorie?')" class="text-danger" title="Archiver la catégorie"><i class="bi bi-trash3"></i></a>
                    </td>
                  </tr>

                  {% endfor %}
               </tbody>
            </table>

        </div>
        {# ################# TABLE 2 ################# #}

    {# -------------------------------------------------------------------------------------------------- #}

        {# ################# TABLE 3 ################# #}
        <div class="col-6">
            <h2 class="text-center">Tous les utilisateurs</h2>

            <table class="table">
                <thead>
                    <tr class="text-center">

                       <th>#</th>
                       <th>Prénom</th>
                       <th>Nom</th>
                       <th>Auteur ?</th>
                       <th>Email</th>
                       <th>Role</th>
                       <th>Auteur </th>
                       <th>Modifié</th>
                       <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                   
                   {% for user in users %}

                     <tr class="text-center">

                       <td>{{ user.id }}</td>
                       <td>{{ user.firstname }}</td>
                       <td>{{ user.lastname }}</td>
                       <td>{{ user.email }}</td>
                       <td>{{ user.roles | first }}</td>
                       <td>{{ user.articles is empty ? 'NON' : 'OUI' }}</td>
                       <td>{{ user.createdAt | date('d/m/Y') }}</td>
                       <td>{{ user.updatedAt | date('d/m/Y') }}</td>
                       <td>

                           <a href="{{ path('modify_user_role', {'id': user.id}) }}" class="btn btn-sm btn-info" title="Modifier le role"><i class="bi bi-pencil-square"></i></a>
                           <a href="" class="btn btn-sm btn-danger" title="Bannir"><i class="bi bi-slash-circle"></i></a>
                       </td>
                      
                     </tr>

                   {% endfor %}
                </tbody>
            </table>

           
        </div>
        {# ################# TABLE 3 ################# #}
    </div>

    {# -------------------------------------------------------------------------------------------------- #}

{% endblock %}